[Unit]
Description=GoQuorum Enterprise Ethereum java client
After=syslog.target network.target

[Service]
User={{ goquorum_user }}
Group={{ goquorum_group }}
Environment=HOME=/home/{{ goquorum_user }}
{% if goquorum_env_opts %}
Environment='GETH_OPTS={{goquorum_env_opts|map('to_json')|join(' ')}}'
{% endif %}
Type=simple
{% if goquorum_cmdline_args %}
ExecStart=/bin/sh -c "{{ goquorum_current_dir }}/geth --config={{ goquorum_config_dir }}/config.toml  --nat extip:{{goquorum_host_ip}} {{goquorum_cmdline_args}} >> {{goquorum_log_dir}}/goquorum.log 2>&1"
{% else %}
ExecStart=/bin/sh -c "{{ goquorum_current_dir }}/geth --config={{ goquorum_config_dir }}/config.toml  --nat extip:{{goquorum_host_ip}} >> {{goquorum_log_dir}}/goquorum.log 2>&1"
{% endif %}
SuccessExitStatus=143
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target

